:root{
    --main-color: #39ab20;
    --shadow: #989898;
    --font-color: #565656;
    --gray: #b7b7b7;
    --font-family: kacstoffice;
    --main-background: #1a650a;
    --main-color-light: #2eff00;
    --gray-trans: #b7b7b766;
    --font-families: tahoma, arial, fantasy ,system-ui;
}
.cont{
    margin: 10px 20px;
}
hr{
    margin: 0;
    position: relative;
    border: none;
    background: linear-gradient(
45deg
, var(--main-color), #a4ff99 , var(--main-color));
    padding: 1px;
}
/* start header */
header {
    display: grid;
    margin-top: 0;
    position: relative;
}

/* start first section */
header .first {
    background-color: var(--main-color);
    z-index: 3;
}
header  .first .cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-color);
    margin-top: 0;
    margin-bottom: 0;
}
header  .first .cont div:last-child{
    display: flex;
    height: 35px;
    align-items: stretch;
}
header  .first .cont div:first-child{
    display: inline-block;
}
header  .first .cont div h1{
    display: inline-block;
    margin: 10px 0;
    letter-spacing: 1px;
    color: var(--font-color);
    vertical-align: middle;
    padding-right: 10px;
    border-right: 1px solid var(--shadow);
    font-family: var(--font-family);
    font-weight: 600;
    line-height: 30px;
}
header  .first .cont div p{
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    font-family: var(--font-family);
    margin: -15px;
    transform: rotate(
90deg
);
    color: #f4fff0;
    text-shadow: -3px 2px 6px var(--shadow);
}
header  .first .cont div input[type = "text"]{
    background-color: var(--main-background);
    border: none;
    padding: 5px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    color: beige;
    padding-left: 10px;
}
header  .first .cont div input[type = "text"]::placeholder{
    color: white;
    font-size: 15px;
}
header  .first .cont div input[type = "text"]:focus-visible{
    outline: none;
}
header  .first .cont div input[type ="button"]{
    margin: 0 5px 0 -4px;
    background-color: #4e4e4e;
    color: var(--main-color-light);
    font-size: 20px;
    border: none;
    width: 60px;
    font-family: system-ui;
    padding: 0px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    transition-duration: 400ms;
}
header  .first .cont div input[type ="button"]:active{
    transform: scale(0.86);
    color: aqua;
    box-shadow: inset 0 0 3px 0px var(--shadow);
}
@media (max-width:444px) {
    header  .first .cont{
        flex-wrap: wrap;
        justify-content: center;
    }
    header  .first .cont div p{
        transform: none;
        margin: 5px;
        width: -webkit-fill-available;
    }
    header .first .cont div{
        margin: 5px;
    }
    header .first .cont div:first-child h1{
        width: -webkit-fill-available;
    }
    header .first .cont div:first-child{
        display: flex;
        width: -webkit-fill-available;
        align-items: center;
        flex-direction: row;
        text-align: center;
    }
}
/* end first section */
/* start second section */ 
header .second{
    background: var(--main-color);
    transition-property: position;
    transition-duration: 1s;
    animation-duration: 1s;
}
header .second .cont ul{
    display: grid;
    grid-template-columns: repeat(6 ,1fr);
    grid-template-rows: 1fr;
    list-style-type: none;
    margin: 0;
    justify-items: center;
    text-align: center;
    align-items: center;
    padding: 0;
    column-gap: 5px;
}
header .second .cont ul li{
    display: inline-block;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    background-color: var(--gray-trans);
    transition-duration: 300ms;
}
header .second .cont ul li a{
    display: inline-block;
    width: -webkit-fill-available;
    color: wheat;
    text-decoration: none;
    font-family: andalus;
    font-size: 19px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 300ms;
}
header .second .cont ul li:hover{
    transform: translate(0, -5px) scale(1.06);
}
header .second .cont ul li a:hover{
    color: red;
}
header .second .cont ul li:active{
    transform: none;
}
header .second .cont ul li a:visited{
    color: darkred;
}
header .second .cont ul li a p{margin: 0;}
header .second  span{
    display: block;
    font-size: 25px;
    text-align: center;
    width: -webkit-fill-available;
    background-color: var(--main-color);
    color: var(--font-color);
    display: none;
    cursor: pointer;
}
@media (max-width:650px) {
    header .second .cont ul{
        grid-template-columns: repeat(3 ,1fr);
        grid-template-rows: 1fr 1fr;
        gap: 5px;
    }
}
@media (max-width:350px) {
    header .second{
        position: absolute;
        z-index: 2;
        top: -265px;
        width: -webkit-fill-available;
    }
    header .second span{
        display: block;
    }
    header .second .cont ul{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6 ,1fr);
    }
    
}
@media (max-width:320px) {
    .cont{
        margin-right: 10px;
        margin-left: 10px
    }
    header  .first .cont div input[type = "text"]{
        max-width: 300px;
        min-width: 200px;
    }
}
@media (max-width:307px) {
    header .first .cont{
        margin-left: 0px;
        margin-right: 0px;
    }
    header .first .cont div:last-child{
        margin-left: 0px;
        margin-right: 0px;
    }
}
/* end second section */
/* end header */
/* start first section */
.fs .cont{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 70px;
}
.fs .cont h2{
    color: var(--font-color);
    font-family: system-ui;
    word-spacing: -2px;
    text-align: center;
    font-size: 50px;
    margin: 0px;
    animation-name: ag;
    animation-duration: 850ms;
    animation-timing-function: linear;
    animation-fill-mode: both;
    animation-play-state: running;
    animation-iteration-count: infinite;
    width: fit-content;
}
.fs .cont h2:hover{
    animation-play-state: paused;
}
@keyframes ag{
    10%{
        color: var(--main-color-light);
        transform: scale(1.06);
        opacity: 0.5;
    }
    20%{
        color: var(--main-color-light);
        transform: scale(1.06);
        opacity: 0.6;
    }
}
.fs .cont p{
    font-size: 23px;
    text-align: center;
    color: var(--font-color);
    line-height: 30px;
    word-spacing: -2px;
    font-weight: 900;
    font-family: tahoma, arial, fantasy;
    direction: rtl;
}
.fs .cont  h3{
    color: var(--gray);
    font-size: 25px;
    direction: rtl;
    margin: 0;
}
@media (max-width:700px) {
    .fs .cont h2{
        font-size: 40px;
    }
}
@media (max-width: 560px) {
    .fs .cont h2{
        font-size: 35px;
    }
    .fs .cont p{
        font-size: 19px;
    }
}
@media (max-width:400px) {
    .fs .cont h2{
        font-size: 25px;
    }
    .fs .cont p{
        font-size: 15px;
    }
    .fs .cont h3{
        font-size: 17px;
    }
}
@media (max-width:350px) {
    .fs{
        margin-top: 20px;
    }
}
/* end first section */
/* start second section */
.ss .cont p{
    font-size: 25px;
    font-family: var(--font-families);
    text-align: center;
    color: var(--font-color);
}
@media (max-width:560px) {
    .ss .cont p{
        font-size: 20px;
    }
}
@media (max-width:400px) {
    .ss .cont p{
        font-size: 17px;
    }
}
/* end second section */
/* start the discription of the website */
.dis{
    background-color: var(--gray-trans);
    direction: rtl;
    font-size: 25px;

}
.dis .cont p{
    margin: 0;
    padding: 10px 0;
    font-family: var(--font-family);
    color: #004e7b;
}
@media (max-width: 560px) {
    .dis p{
        font-size: 20px;
    }
}
/* end the discription of the website */
/* start footer */
footer{
    background-color: #232323;
}
footer .cont{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    margin-bottom: 0;
}
footer .cont div{
    display: grid;
    gap: 10px;
}
footer .cont div p{
    font-size: 20px;
    font-family: var(--font-families);
    color: aliceblue;
    direction: rtl;
    text-align: center;
}
footer .cont div input[type = "text"]{
    border: none;
    width: 200px;
    height: 50px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding-left: 10px;
    margin: 0;
}
footer .cont input[type = "submit"]{
    color: #860088;
    height: 52px;
    margin: 0 0 0 -5px;
    background-color: var(--main-color);
    border: 2px solid var(--gray-trans);
    border-left: none;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    width: 50px;
    font-family: var(--font-families);
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .cont div input[type = "text"]:focus-visible{
    outline: none;
}
footer .cont div:last-child > p:last-child{
    font-size: 25px;
    color: darkgray;
    font-family: amiri;
}
/* end footer */